body {
  background: url(abstract3.png) no-repeat;
  background-size: cover;
}
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
}
.glavni {
  margin: 5% auto 0 auto;
}
.slogan {
  font-size: 20px;
  color: #ff2307;
  font-family: 'Roboto Slab', serif;
}
.uskoro {
  color: #e0d9d9;
  font-family: 'Roboto Slab', serif;
}
.logo {
  max-width: 80%;
}
@media (max-width: 500px) {

  #myVideo {
    display: none;
  }
  .slogan {
    color: #565451;
  }
  .uskoro {
    color: #565451;
  }
  .glavni {
    margin-top: 10%;
  }

}
